<!DOCTYPE html>
<html>
<head>
    <title>Sligo Surf Report</title>
    <style>
        body {
            font-family: Papyrus, fantasy;
        }
    

        ul {
            list-style-type: none; 
        }
    </style>
</head>
<body>
    <h1>Sligo Surf Report</h1>

    <img src="C:\Users\darac\OneDrive\Desktop\Final-Project\Images\Surf1.jpg" alt="Surf Image" width="300" height="200">

    <p>Weather reports:</p>
    <ul>
        <li><a href="/NationalWeather">National Weather</a></li>
        <li><a href="/SligoWeather">Sligo Weather</a></li>
        <br>
    <p>Surf reports:</p>

        <li><a href="/SurfStrandhill">Surf Strandhill</a></li>
        <li><a href="/SurfDunmoran">Surf Dunmoran</a></li>
        <li><a href="/SurfEaskey">Surf Easkey</a></li>
    </ul>
</body>
</html>

