<!DOCTYPE html>
<html>
<head>
    <title>Sligo Surf Report</title>
    <style>
        body {
            font-family: Papyrus, fantasy;
            font-size: 25px;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        .container {
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }
        h1, p, li {
            white-space: nowrap;
        }
        iframe, img, button {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Sligo Surf Report</h1>
        <img src="{{ url_for('static', filename='Images/Surf1.jpg') }}" alt="Surf Image" width="200" height="200">
        <p>Weather reports:</p>
        <ul>
            <li><a href="/NationalWeather">National Weather</a></li>
            <li><a href="/SligoWeather">Sligo Weather</a></li>
        </ul>
        <p>Surf reports:</p>
        <ul>
            <li><a href="/SurfStrandhill">Surf Strandhill</a></li>
            <li><a href="/SurfDunmoran">Surf Dunmoran</a></li>
            <li><a href="/SurfEaskey">Surf Easkey</a></li>
        </ul>
        <p>Buoy Data:</p>
        <ul>
            <li><a href="/BuoyM4">Buoy M4</a></li>
        </ul>
    </div>
</body>
</html>

