<!DOCTYPE html>
<html>
<head>
    <title>Sligo Weather Data</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
        }
        .table-container {
            width: 80%;
            margin: 0 auto;
        }
        .table {
            width: 100%;
            border-collapse: collapse;
        }
    
    </style>
</head>
<body>
    <div class="table-container">
        <h1>Sligo Weather Data</h1>
        {{ table|safe }}
    </div>
</body>
</html>

